

.dr_container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;  This ensures that the content is centered vertically */
    margin-top: 5%;
}

.dr_ul {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px;
    place-items: center;

    /*list-style-type: none;*/
    padding: 0;
    margin: 0;
}

.dr_li {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; 
    background-color: hsl(190, 21%, 27%);
    border: 1px solid hsl(244, 75%, 19%);
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
}

.dr_li:hover {
    background-color: #555; /* Background color on hover */
}


.dr_heading {
    color: hsl(240, 93%, 34%);
    justify-content: center;
}

.dr_p {
    justify-content: center;
    margin: 5px 0;
}