{% extends "frontend/index.html" %}

{% load static %}



{%block title %} Charts {% endblock %}

{% block content %}


<div class="grid">

    <div class="grid-item-below-navbar">
        <h2 class="currency_header">USD/CAD</h2>
        <div class="chart_container" id="container1">
            
        </div>
    </div>

    <div class = "paragraph">
        <p>
            This will describe the chart and whats going on in it.
            This will describe the chart and whats going on in it.
            This will describe the chart and whats going on in it.
            This will describe the chart and whats going on in it.
        </p>
    </div>

    <div class="grid-item2">
        <h2 class="currency_header">USD/CAD</h2>
        <div id="container2" class="chart_container">
    </div>
    </div>

    <div class="grid-item3">
        <h2 class="currency_header">USD/CAD</h2>
        <div id="container3" class="chart_container">
    </div>
    </div>

    <script src="{% static 'frontend/main.js' %}"></script>

</div>



{% endblock content %}