<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    <meta name = "viewport" content = "width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}


    <title>{% block title %}Signal Smith{% endblock %}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" type="text/css" href="{% static "css/better_index.css" %}"/>

    {% block extrahead %}{% endblock %}
</head>
<body class = "body_tag">

    
   
        <div id = "navbar">
            <nav>
                <ul>
                    <li class="logo-container" href="#">
                        
                        <img class="logo" src="{% static 'images/Last_Hammer_Logo.png' %}">
                        <div class="text-container">
                            <h2 class="top-text">Signal</h2>
                            <h2 class="bottom-text">Smith</h2>
                        </div>
                    </li>
                    <li><a class="nav_bar_element" href="/">Home</a></li>
                    {% comment %} <li><a class="nav_bar_element" href="/charts">Charts</a></li> {% endcomment %}
                    <li><a class="nav_bar_element" href="/api/rest_api_form"> Make Charts</a></li>
                    <li><a class="nav_bar_element" href="/display_data_list"> See Data</a></li>
                    <li><a class="nav_bar_element" href="/api/api-live-data">Test Web Sockets</a></li>
                    <li><a class="nav_bar_element" href="#">Contact</a></li>
                    <li><a class="nav_bar_element" href="/users">Create Account</a></li>
                    {% comment %} <li><a class="nav_bar_element" href="/users">USD Oil Correlation</a></li> {% endcomment %}
                    <li><a class="nav_bar_element" href="/training-data"> Training Data</a></li>

                </ul>

                
            </nav>

        </div>

        <div id ="root-for-react-everywhere" class= "grid">

        </div>

        {% block content %}{% endblock %}
        
        
    

    <footer>
        <p>&copy; 2023 Signal Smith. All rights reserved.</p>
    </footer>
</body>
</html>